# ~/.gitconfig -
#
# author  : Chad Mayfield (chad@chd.my)
# license : gplv3

[user]
	name = Chad Mayfield
	email = chad@chd.my
  editor = vim

  # https://git-scm.com/book/en/v2/Git-Tools-Signing-Your-Work
  # https://bit.ly/3zmR5Dv
  signingkey = 3DF652D4EACD24BC
  #signingkey = B0BF6DA7B7878294

[alias]
    br = branch
    co = checkout
    ci = commit
    st = status
    w = whatchanged
    df = diff
    info = config --list
    summary = log --oneline
    pom = push origin master
    graph = log --graph --oneline --decorate
    changes = log --oneline --reverse
    #tags = tag -n1 -l
    #pop = !git stash apply && git stash clear
    #staged = diff --cached

    # https://stackoverflow.com/a/33342393
    # easier merge develop into feature branch
    fr = "!f() { git fetch && git rebase origin/$1; }; f"

    # https://stackoverflow.com/a/9074343
    # https://stackoverflow.com/a/34467298
    lg = !"git lg1"
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg3 = !"git lg3-specific --all"
    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

    # https://stackoverflow.com/a/15562953
    # https://github.com/jwiegley/git-scripts/blob/master/git-forest
    #tree = "forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15 --reverse"

    # https://stackoverflow.com/a/22481650 (Also good, but unused)

[apply]
    whitespace = fix    # warn & fix whitespace errors (%trailing wspace)
    #whitespace = nowarn # warn only

# GIT_COLORS ##########################
#   as of commit 17a4be2, git supports 24-bit RGB color values. here are
#   most (if not all) of the *basic* values and attributes accepted;
#
# colors            attributes                  background/foreground
# ------            ----------                  ---------------------
# normal blue       bold    italic (2.9.1+)     you can also specify a fg/bg
# black  magenta    dim     strike (2.9.1+)     by using the format; fg bg
# red    cyan       ul                          so 'blue white' would be a
# green  white      blink                       white background & blue txt
# yellow            reverse
#######################################

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    header = normal
    added = green
    changed = yellow bold
    untracked = red bold
    deleted = cyan dim
    nobranch = red dim

[commit]
    gpgsign = true

[core]
    pager = less -FRSX
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[diff]
    renamelimit = 0
    renames = copy        # makes diff shorter when moving/copying files

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[http]
    sslVerify = true

# include github username/token
[include]
    path = ~/.github

[mergetool]
	keepBackup = true

[push]
    default = simple